{% extends 'base.html' %}
{% block conteudo %}
<h2 class="text-center"></h2>
<hr>
<form action="{{url_for('atualiza_livro', id=livro.id)}}" method="POST" class="form-group">
    <label for="">Nome</label>
    <input type="text" class="form-control" name="nome" placeholder="Nome do livro" required value="{{livro.nome}}">
    <label for="">Descrição</label>
    <textarea name="descricao" class="form-control" required>{{livro.descricao}}</textarea>
    <label for="">Valor</label>
    <input type="number" name="valor" class="form-control" placeholder="Valor do livro" value="{{livro.valor}}" required>
    <button class="btn btn-success">Adicionar</button>
</form>
{% endblock conteudo %}