{% extends 'base.html' %}
{% block conteudo %}
<h2 class="text-center">Cadastrar Livro</h2>
<hr>
<form action="{{url_for('adiciona_livro')}}" method="POST" class="form-group">
    <label for="">Nome</label>
    <input type="text" class="form-control" name="nome" placeholder="Nome do livro" required>
    <label for="">Descrição</label>
    <input type="text" name="descricao" class="form-control" placeholder="Descrição do livro" required>
    <label for="">Valor</label>
    <input type="number" name="valor" class="form-control" placeholder="Valor do livro" required>
    <button class="btn btn-success">Adicionar</button>
</form>
{% endblock conteudo %}